html {
  background-color: grey;
  font-family: "Alata", sans-serif;
}
main {
  padding-left: 5%;
  padding-right: 5%;
}
/*===============Section 1=====================*/
#container {
  width: 100%;
  height: 2420px;
  font-size: 130%;
  margin-top: 5%;
}
.div_cont {
  height: fit-content;
  width: 100%;
}
#cont_ml {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#ml1 {
  width: 48%;
  height: 100%;
}
#ml2 {
  width: 48%;
  height: 100%;
}
.ml1_info1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  align-items: stretch;
  margin-top: 3%;
}
.ml1_info1 div {
  width: 30%;
  border-radius: 10px;
  background-color: #d3d3d3;
  box-shadow: 5px 5px 15px black;
}
#ml1_tools {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
}
#ml1_tools div {
  text-align: center;
  padding-left: 2%;
  padding-right: 2%;
  width: 25%;
  border-radius: 10px;
  background-color: #d3d3d3;
  margin-top: 2%;
  box-shadow: 5px 5px 15px black;
}
.ml1_icons {
  height: 100%;
  width: 100%;
}
#cont_ml h2 {
  font-size: 250%;
  color: aqua;
  text-align: center;
  text-decoration: underline;
  line-height: 200%;
}
#ml1_headings h3 {
  font-size: 180%;
  color: aqua;
  padding-left: 10%;
}
#ml1_info1_heading {
  font-size: 180%;
  color: aqua;
  text-align: left;
  padding-left: 10%;
}
#ml1 p {
  text-align: center;
}
/*machine learning container 2*/
#ml2 h2 {
  text-align: center;
  color: aqua;
  font-size: 200%;
  text-align: left;
  padding-left: 10%;
}
#ml2 {
  display: flex;
  flex-direction: column;
}
.ml2_divs {
  width: 100%;
  height: 25%;
  text-align: center;
  margin-top: 5.2%;
  border-radius: 15px;
  background-color: #d3d3d3;
  box-shadow: 5px 5px 15px black;
}
