@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');

html {
  font-family: 'Quicksand', sans-serif;
}

body {
  color: #fcfc03;
  background-position: center;
  background-size: cover;
  background-color: #003399;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

* {
  font-family: 'El Messiri', sans-serif;
  padding: 0;
  margin: 0;
}

/* header */
header {
  width: 100%;
  height: 4vw;
  border-bottom: thin #fcfc03 solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#h_logo {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#h_logo img {
  width: 80%;
}

#h_cont {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


#header_info {
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#header_info>a {
  color: white;
  text-decoration: none;
  font-size: 2vw;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

#header_info>a:hover {
  background-color: rgb(255, 255, 255, 0.1);
}

#header_info>select {
  height: 100%;
  width: 35%;
  font-size: 2vw;
  color: white;
  border: none;
  background-color: transparent;
}

#header_info>select>option {
  background-color: #003399;
  border-top: thin solid white;
}

#header_info>select:focus {
  outline: none;
}

/* main */
main {
  width: 99.5%;
  height: 35vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: transparent;

}

#m_cont1 {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#m_cont1>h2 {
  font-size: 3.5vw;

}

#m_cont1>p {
  color: white;
  font-size: 1.8vw;
}

#m_cont2 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}


#socials {
  margin-top: 4%;
  width: 70%;
  height: 17%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

}

#socials>a {
  width: 17%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#socials>a>img {
  width: 100%;
  height: 100%;
}

/* section serices */

#services {
  width: 99.5%;
  height: 35vw;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 3%;
}

#services>div {
  width: 48%;
  background-color: #003399;
  height: 100%;
}

#sect1_cont2 {
  border-top: 0.6vw solid #fcfc03;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}


.sect1_cont2s {
  width: 90%;
  border-top: #fcfc03 solid 0.3vw;
  height: 28%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.sect1_cont2s>h3 {
  font-size: 3vw;
}

.sect1_cont2s>a {
  text-decoration: none;
  font-size: 1.8vw;
  color: white;
  width: 50%;
  height: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.sect1_cont2s>a>img {
  height: 60%;
}

.sect1_cont2s>a:hover {
  border: thin solid white;
  border-radius: 0.5vw;
  background-color: #000094;
}

#sect1_cont1 {
  border-top: 0.6vw solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 2%;
}

#sect1_cont1 h2 {
  font-size: 4.5vw;
  line-height: 4.3vw;
}

#sect1_cont1>p {
  font-size: 2vw;
  margin-top: 3%;
}

#sect1_cont1 p {
  font-size: 1.5vw;
  color: white;
}

#sect1_cont11 {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 2%;
}

#sect1_cont12 {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#sect1_cont12>img {
  width: 30%;
}

/* me picture */
#me {
  width: 25%;
  height: 30vw;
  position: absolute;
  top: 10vw;
  left: 70vw;
  z-index: -1;
}

#me>img {
  width: 100%;
  opacity: 0.6;
}


/* contact me */

#contact_me {
  width: 99%;
  margin-top: 1%;
  height: 50vw;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#contact_cont {
  width: 90%;
  height: 80%;
  background-color: #003399;
  border-radius: 1.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0.1vw 0.1vw 3vw grey;
}

#contact_socials {
  width: 10%;
  height: 100%;
}

#contact_body {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#contact_image {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom-right-radius: inherit;

}

#contact_body>form {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#contact_body>form>h2 {
  width: 100%;
  height: 10%;
  font-size: 4vw;
  color: white;
  align-items: center;
}

#contact_body>form>h2>strong {
  color: #fcfc03;
}

#contact_body>form>p {
  width: 100%;
  font-size: 2vw;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#form_cont_name {
  width: 100%;
  height: 15%;
  font-size: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

#name_input {
  width: 100%;
  height: 50%;
  border: none;
  border-radius: 1vw;
}

#name_input:focus {
  outline: none;
}

#form_cont_name>label {
  width: 100%;
  height: 20%;
}

#form_cont_email {
  width: 100%;
  height: 16%;
  font-size: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

#email {
  width: 100%;
  height: 50%;
  border: none;
  border-radius: 1vw;
}

#email:focus {
  outline: none;

}

#form_cont_message {
  width: 100%;
  height: 30%;
  font-size: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

#message {
  width: 100%;
  height: 60%;
  border: none;
  border-radius: 1vw;
}

#message:focus {
  outline: none;

}

#form_cont_submit {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#form_cont_submit>button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0.5vw;
  height: 90%;
  width: 30%;
  font-size: 2.5vw;
}

#contact_img {
  width: 100%;
  height: 70%;
  background-color: white;
  border-top-left-radius: 40vw;
  border-bottom-left-radius: 40vw;
  border-top-right-radius: 40vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: inherit;

}

#contact_img>img {
  width: 80%;
}
