@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');

html {
  font-family: 'Quicksand', sans-serif;
}

body {
  color: #fcfc03;
  background-position: center;
  background-size: cover;
  background-color: #003399;
}

* {
  font-family: 'El Messiri', sans-serif;
  padding: 0;
  margin: 0;
}

/* header */
header {
  width: 100%;
  height: 4vw;
  border-bottom: thin #fcfc03 solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#h_logo {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#h_logo img {
  width: 80%;
}

#h_cont {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


#header_info {
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#header_info>a {
  color: white;
  text-decoration: none;
  font-size: 2vw;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

#header_info>a:hover {
  background-color: rgb(255, 255, 255, 0.1);
}

#header_info>select{
  height: 100%;
  width: 35%;
  font-size: 2vw;
  color: white;
  border: none;
  background-color: transparent;
}

#header_info>select>option{
  background-color: #003399;
  border-top: thin solid white;
}

#header_info>select:focus{
  outline: none;
}

/* main */
main {
  width: 99.5%;
  height: 35vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: transparent;

}

#m_cont1 {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#m_cont1>h2 {
  font-size: 3.5vw;

}

#m_cont1>p {
  color: white;
  font-size: 1.8vw;
}

#m_cont2 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}


#me {
  width: 30%;
  position: absolute;
  top: 53vw;
  opacity: .7;
  left: 22vw;
  z-index: 0;
  background-color: #000094;

}

#socials {
  margin-top: 4%;
  width: 70%;
  height: 17%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

}

#socials>a {
  width: 17%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#socials>a>img {
  width: 100%;
  height: 100%;
}

/* section serices */

#services {
  width: 99.5%;
  height: 35vw;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

#services>div {
  width: 48%;
  height: 100%;
}

#sect1_cont2 {
  border-top: 0.6vw solid #fcfc03;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}


.sect1_cont2s {
  width: 90%;
  border-top: #fcfc03 solid 0.3vw;
  height: 28%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.sect1_cont2s>h3 {
  font-size: 3vw;
}

.sect1_cont2s>a {
  text-decoration: none;
  font-size: 1.8vw;
  color: white;
  width: 50%;
  height: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.sect1_cont2s>a>img {
  height: 60%;
}

.sect1_cont2s>a:hover {
  border: thin solid white;
  border-radius: 0.5vw;
  background-color: #000094;
}

#sect1_cont1 {
  border-top: 0.6vw solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 2%;
}

#sect1_cont1 h2 {
  font-size: 4.5vw;
  line-height: 4.3vw;
}

#sect1_cont1>p {
  font-size: 2vw;
  margin-top: 3%;
}

#sect1_cont1 p {
  font-size: 1.5vw;
  color: white;
}

#sect1_cont11 {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 2%;
}

#sect1_cont12 {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#sect1_cont12>img {
  width: 30%;
}

/* section testimonials */
#test {
  border: solid white thin;
  background-color: #000094;
  height: 35vw;
  width: 100%;
}

#test h2 {
  font-size: 4vw;
  padding-left: 2%;
}
